body {
    font-family: Arial;
    font-size: 3em; 
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 40px;
    }

    #clock {
    font-size: 3em;
    text-align: center;
    }

    h2 { 
    font-size: 3em; 
    }