<!DOCTYPE html>
<html>
<head>
  <title>Relógio</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
  <script src="https://cdn.jsdelivr.net/momentjs/2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    function updateClock() {
      $.get("/clock", function(time) {
        $("#clock").text(time);
      });
    }
    $(document).ready(function() {
      setInterval(updateClock, 1000);
    });
  </script>
</head>
<body>
  <p<h1>Relógio</h1></body></p>
  <div id="clock"></div>
</body>
</html>
